{% include "en/header.html" %}

{% block content %}

<!-- Breadcrumb + Active filters -->
<nav class="mb-3" aria-label="breadcrumb" style="background-color: #2b2f3eeb;">
  <div class="container d-sm-flex align-items-center">
    <ol class="breadcrumb breadcrumb-alt mb-0">
      <li>
        <a href="/billymods/en-us" class="text-white"><i class="fa fa-home" aria-hidden="true"></i></a>
      </li>

      <li style="margin-left: 0.5em;" class="text-white">
        <i class="fa fa-angle-right" style="margin-right: 5px;" aria-hidden="true"></i>
        {{subcategory.category_id.en_name}}
      </li>
      <li style="margin-left: 0.5em;" class="text-white">
        <i class="fa fa-angle-right" style="margin-right: 5px;" aria-hidden="true"></i>
        {{subcategory.en_name}}
      </li>
    </ol>
  </div>
</nav>

<!-- Shop catalog -->

<section class="container pt-3 pb-5 pb-md-6 mb-2 mb-lg-0">
  <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3 border-bottom border-light">

    <h1 class="h2 mb-0 text-white">{{subcategory.en_name}}</h1>
  </div>

  <div class="row mx-n2">

    <div class="row flex-lg-nowrap">
      <!-- Product grid -->
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" data-filters-columns>
          {% for vehicle in all_vehicles %}
          <!-- Item -->
          <div class="col pb-sm-2 mb-grid-gutter">
            <div class="card card-product mx-auto">
              <div class="card-product-img">
                <a href="{% url 'en_vehicle' vehicle.subcategory_id.en_name vehicle.en_title %}" class="card-img-top">
                  <img src="{{ vehicle.image.url }}" alt="{{ vehicle.id }}" />
                </a>
                <div class="card-product-widgets-top">
                  {% if vehicle.discount_value != 0 %}
                  {% load humanize %}
                  <span class="badge product-badge bg-danger">-{{vehicle.discount_value|floatformat:2|intcomma}}%</span>
                  {% endif %}
                </div>
              </div>
              <div class="card-body pb-2 bg-dark">
                <h3 class="card-product-title mb-2">
                  <a href="{% url 'en_vehicle' vehicle.subcategory_id.en_name vehicle.en_title %}""
                    class=" nav-link text-white">{{vehicle.en_title}}</a>
                </h3>
                <div class="d-flex align-items-center">

                  {% if vehicle.discount_value != 0 %}
                  <span class="h5 d-inline-block mb-0 text-white">$ {{vehicle|percentage_en|floatformat:2}}</span>
                  {% else %}
                  <span class="h5 d-inline-block mb-0 text-white">$ {{vehicle.en_price|floatformat:2}}</span>
                  {% endif %}
                  {% if vehicle.discount_value != 0 %}


                  <del class="d-inline-block ms-2 ps-1 text-muted">$ {{vehicle.en_price|floatformat:2}}</del>
                  {% endif %}
                </div>
              </div>
              <div class="card-footer bg-dark">
                <a href={{vehicle.tebex}} class="btn btn-primary d-block w-100">
                  <i class="fa-solid fa-cart-shopping"></i>
                  Comprar agora!
                </a>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>


  </div>


</section>
{% endblock %}
</main>

{% include "en/footer.html" %}