{% include "br/header.html" %}
{% load cache %}
{% cache 600 br_index %}
<style>
	a {
		color: #fff;
		text-decoration: none;
	}

	a:hover {
		color: #ADD8E6;
	}
</style>

<!-- Promo bar -->
<section class="tns-promo-bar bg-primary py-2">
	<div class="container d-flex justify-content-center">
		<div class="fs-s text-light px-2 text-center">
			<a href="#"><strong>Esta página é um mostruario apenas, nenhum produto ou serviço está a
					venda. Todas as mudanças na base de dados são temporárias.<br> Heroku atualiza a página com base no
					repositório do Github.<br>
					Login: admin Pass: admin</strong></a>
		</div>
	</div>
</section>

{% load static %}
<!-- Hero slider -->
<section id="indexCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="0" class="active" aria-current="true"
			aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
		<button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
	</div>

	<div class="carousel-inner">
		<!-- Slide 1 -->
		<div class="carousel-item active">
			<img src="{% static 'billymods/core/cover.png' %}" class="bd-placeholder-img" width="100%"
				height="100%"></img>

			<div class="container">
				<div class="carousel-caption text-start" style="margin-bottom: 25em;">
					<h1 class="text-white text-center">Fornecendo a mais alta qualidade e o conteúdo de veículos de
						emergência mais popular para o seu servidor FiveM.</h1>
				</div>
			</div>
		</div>


		<!-- Slide 2 -->
		<div class="carousel-item">
			<img src="{% static 'billymods/core/Grand_Theft_Auto_V_Screenshot_2022.01.02_-_21.47.34.53.png' %}"
				class="bd-placeholder-img" width="100%" height="100%"></img>

			<div class="container">
				<div class="carousel-caption text-start" style="margin-bottom: 15em;">
					<h1 class="text-white">Veículos Policiais</h1>
					<p><strong>Liderando com a mais alta qualidade revolucionaria e multi-função, veículos policiais
							para o seu servidor, com a confiabilidade que você conhece e ama.</strong></p>
					<p><a class="text-white btn btn-lg btn-primary" href="/billymods/pt-br/Multifunção">Multi Função</a>
					</p>
				</div>
			</div>
		</div>

		<!-- Slide 3 -->
		<div class="carousel-item">
			<img src="{% static 'billymods/core/AbmoCover.png' %}" class="bd-placeholder-img" width="100%"
				height="100%"></img>

			<div class="container">
				<div class="carousel-caption text-start" style="margin-bottom: 15em;">
					<h1 class="text-white">Bombeiros &amp; Emergência</h1>
					<p><strong>Desde o início, construímos uma frota excepcional de veículos de bombeiros e emergência
							para atender
							qualquer necessidade do seu servidor. Com as mesmas
							of your server, com os incríveis recursos que você conhece e ama das nossas frotas
							policiais.</strong></p>
					<p><a class="text-white btn btn-lg btn-primary" href="/billymods/pt-br/Ambulâncias">Ambulâncias</a>
					</p>
				</div>
			</div>
		</div>

		<!-- Slide 4 -->
		<div class="carousel-item">
			<img src="{% static 'billymods/core/4.png' %}" class="bd-placeholder-img" width="100%" height="100%"></img>

			<div class="container">
				<div class="carousel-caption text-start" style="margin-bottom: 15em;">
					<h1 class="text-white">DOT &amp; CIVILIAN</h1>
					<p><strong>Não nos esquecemos dos civis! Fornecendo uma ampla gama de veículos para se encaixar em
							todos os aspectos de sua comunidade de roleplay!</strong></p>
					<p><a class="text-white btn btn-lg btn-primary" href="/billymods/pt-br/Reboques">Reboques</a></p>
				</div>
			</div>
		</div>

		<!-- Slide 5 -->
		<div class="carousel-item">
			<img src="{% static 'billymods/core/218_20211011182224_1.png' %}" class="bd-placeholder-img" width="100%"
				height="100%"></img>

			<div class="container">
				<div class="carousel-caption text-start" style="margin-bottom: 15em;">
					<h1 class="text-white">
						VEÍCULOS ESPECIAIS</h1>
					<p><strong>Também temos imaginação. Fornecendo alguns dos mais exclusivos, divertidos e
							deslumbrantes
							veículos especiais para seu servidor.</strong></p>
					<p><a class="text-white btn btn-lg btn-primary" href="/billymods/pt-br/Unidade%20Especial">Resposta
							Especial</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<button class="carousel-control-prev" type="button" data-bs-target="#indexCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#indexCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</section>

<section class="container-fluid px-xl-grid-gutter mt-5">
	<div class="row">
		<div class="col">
			<img src="{% static 'billymods/core/Asset_63.svg' %}" alt="">
		</div>
	</div>
</section>



</main>
{% endcache %}
{% include "br/footer.html" %}