{% import "bootstrap/wtf.html" as wtf %} {% block content %} {% include "br/header.html" %}
<!-- Page Header-->
<header class="masthead" style="">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading f-color">
                    <h1 class="f-color">Olá Billy</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class="f-color">Register</h1>
                <form action="{{ url_for('register') }}" method="post">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <input type="text" name="name" placeholder="Name" required="required" />
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" placeholder="Email" required="required" />
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" placeholder="Password" required="required" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Sign me up.</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
{% endblock %}
{% include "br/footer.html" %}