<!DOCTYPE html>
<html lang="en" class="no-js lang--en lang--en-us" data-id="3634" data-guid="c03535cd-53cf-4681-8064-c2422ebe747c"
    data-culture="en-us">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>Download SkyMacro for free | Macro software for games and applications</title>
    <meta name="description"
        content="SkyMacro, Best Macro software for any game or application. Light and Fast. Download the latest version for free." />
    <meta name="keywords" content="" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-color" content="#ffffff">
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'skymacro/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'skymacro/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'skymacro/img/logo.png' %}">


    <link rel="stylesheet" href="{% static 'skymacro/css/main.css' %}" />



</head>

<body>
    <a class="sr-only" href="#main-content" role="link">Skip to main content</a>

    <header class="page-head page-head--consumer">
        <div class="container page-head__inner" role="application">
            <!-- Logo -->
            <a href="/skymacro" alt="SkyMacro logo" arial-label="Link to SkyMacro homepage">
                <img class="site-logo" src="{% static 'skymacro/img/logo.png' %}" width="90" />
            </a>

            <div data-behavior="hamburger-module" data-module-id="main">
                <!-- Burger -->
                <a href="#" tabindex="0" class="menu-btn" data-behavior="hamburger-module__menu-btn" role="button"
                    aria-label="Homepage">
                    <img src="https://s1.pir.fm/pf/btn-hamburger-grey.png" alt="Open menu" role="presentation"
                        aria-hidden="true">
                </a>

                <!-- Main Navigation -->
                <nav class="primary-nav" data-behavior="hamburger-module__primary-nav"
                    data-kb-behavior="kb-module__init" data-kb-action="_primaryNavigationInit" role="navigation"
                    aria-label="Main navigation">
                    <ul>


                        <li>


                            <span class="dir bg-color-nav" data-behavior="hamburger-module__dir">
                                <a role="link" href="/skymacro/download" id="GTM__top-nav__for-home">Download</a></span>
                            <span class="expand-menu" data-behavior="hamburger-module__expand-menu"></span>


                        </li>


                        </li>
                    </ul>
                </nav>


            </div>




            <!-- Search -->

        </div>
    </header>
    <main id="main-content" tabindex="-1">





        <div class="band band--shaded band--intro">
            <div class="container container--skinny text-center">
                <img class="product-logo" src="{% static 'skymacro/img/logo.png' %}" width="140" alt="SkyMacro">
                <h1 class="product-heading product-heading" id="brand">

                    SkyMacro
                </h1>
                <p class="text-mid">
                <h2>Create macros in your PC quick and easy.</h2>
                <p class="text-mid">Easily create, edit or delete Macros with SkyMacro.</p>
                </p>
                <div tabindex="0" class="sr-only">

                </div>
                <div>
                    <span class="btn__wrapper">
                        <a class="btn btn--fixed-wider" role="button" href="/skymacro/download" id="" data-qa-id=""
                            aria-label="" data-xsource="false" target="" data-scrollto="#versionComparison">
                            Download Free Version
                        </a>
                    </span>
                </div>

                <div class="mt--0 text-semibold fs-13">
                    <p>&nbsp;</p>
                </div>

                <div class="product-screen__puller" role="presentation">


                    <img src="{% static 'skymacro/img/skyboth.png' %}" class="product-screen" style="width:70%;">
                </div>

            </div>
        </div>



        <div class="band pt--xxxs">
            <div class="container container--skinny">
                <ul class="ml--0">

                    <li class="product-feature  [ media media--large  ]">
                        <img class="media__img" src="{% static 'img/keyboard.webp' %}" alt="Faster Computer"
                            width="125">
                        <div class="media__body">
                            <h2 class="">
                                Works Everywhere
                            </h2>
                            <p class="text-mid">
                            <p>SkyMacro is made to work in any game or application.</p>
                            </p>
                        </div>
                    </li>

                    <li class="product-feature  [ media media--large media--rev ]">
                        <img class="media__img" src="{% static 'img/icon-fastercomputer.png' %}" alt="Faster Computer">
                        <div class="media__body">
                            <h2 class="">
                                Faster Computer
                            </h2>
                            <p class="text-mid">
                            <p>SkyMacro is design to be light and fast to not impact your game or application.</p> Get
                            the best perfomace and the fastest macro with TURBO mode.</p>
                        </div>
                    </li>

                    <li class="product-feature  [ media media--large  ]">
                        <img class="media__img" src="{% static 'img/icon-customization.png' %}"
                            alt="Full customization">
                        <div class="media__body">
                            <h2 class="">
                                Full customization
                            </h2>
                            <p class="text-mid">
                            <p>Bind multiple hotkeys for different macros and customize your macros the way you want,
                                you can edit them in the SkyMacro interface or in the .txt file saved in the SkyMacro
                                folder. </p>
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>





    </main>
</body>
<footer class="page-foot page-foot__copyright">
    &copy; Copyright 2022 SkyMacro - All rights reserved

</footer>
<script data-ot-ignore="" src="{% static 'js/app.js' %}" type="text/javascript"></script>
<script data-ot-ignore="" src="{% static 'js/app-vue.js' %}" type="text/javascript"></script>

</html>